body {
  
    background-image: url(../image/HomeUltima.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
}


.footer{
    background-color: #11264D;
    width: 100%;
    height: 30px;
    bottom: 0;
    position: relative;
    text-align: center;
    color: #ffffff;
}
.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.colorManager{
     background: #11264D;
     text-align: center;
     color: #ffffff;   
     filter: drop-shadow(0px 4px 4px #23231F);
}
.colorManagersin{
    
    
     background: #11264D;
     text-align: center;
     color: #ffffff;   
     
     
}

.colorManager:hover {
    
    background: #81ABF9;
    color: #FFFFFF;
   }   
   
.colorManager2{
     background: #ffffff;
     text-align: center;
     color: #11264D;   
}
.colorManager2:hover {
        color: #11264D;
}   
.sombra{
   filter: drop-shadow(0px 4px 0px #FFDE59);
}
.colorBarber{
     background: #ffffff;
}
.tarjeta{
    display: flex;
     border-style: solid;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Gborder{
     border-radius: 5px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.sinborde{
    border: none
}
.negro{
    background: #11264D;
}

.manager{
    background: #11264D;
}
.guapo {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
}

.dentro{
    background: #1BB6E7
    
}
.fuera{
    background: #FFFFFF
} 
.centrar {

  display: flex;
  justify-content: center;
  align-items: center;  
}
.colorazul1{
    background: #dce5f7;
    
}

.colorazul2{
    background: #abc2ed;
}
.colorazul3{
    background: #7b9fe2;
}
.colorazul4{
    background: #4b7cd7;
}
.colorazul5{
    background: #3b70d4;
}

